/* 맨 위 status-bar와 header를 고정 */
.header-wrapper {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  padding: 5px 0px;
  background-color: white;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

/* 우선 chat.html의 body에 class이름을 넣어주었고 chat전체 padding을 초기화함 */
/* 채팅화면에 배경화면을 넣어줌, vh는 viewport height를 의미(보여지는 screen의 높이) */
.chats-body {
  padding: 10px 0px;
  /* 전체적으로 아래로 100px내린 느낌을 줌 */
  padding-top: 100px;
  background-image: url("../images/background.png");
  min-height: 1000vh;
}

/* padding을 초기화했기 때문에 다시 .status-bar와 header의 padding을 설정 */
.chats-body .status-bar {
  padding: 0px 10px;
  padding-top: 10px;
}
.chats-body .header {
  padding: 0px 10px;
}

.chat__write-container {
  /* 포지션 설정 */
  position: fixed;
  bottom: 0px;

  /* 디스플레이 설정 */
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  justify-content: space-between;
  width: 100%;
}

/* input에 대한 설정 */
.chat__write {
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  /* focus에 있는 요소들을 적어줌으로써 변화하는 것을 볼 수 있음 */
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

/* 박스 클릭시 생기는 아웃라인을 없앰 */
.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  /* 애니메이션을 적용하기 위한 설정 */
  animation: float 3s linear infinite forwards;
}

/* sibling selector (~)를 사용하기 위해선 input뒤에 div나 i가 와야 한다. 아래 transition효과를 사용하기 위해선 이런 설정이 필요 */
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}
/* 위에 설정된 focus에 의한 opacity로 transition이 발생 */
.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

/* input박스에 애니메이션을 더해줌 */
@keyframes float {
  0% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 13px 27px -60px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

/* 아이콘의 절대적인 위치를 잡아줌 */
.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write i {
  font-size: 22px;
}

/* input의 크기를 넓히기 위한 설정 */
.chat__write-column:nth-child(2) {
  width: 80%;
}

/* chat-screen안에서 가장 큰 chat__messages부분을 설정 */
.chat-screen .chat__messages {
  padding: 0px 20px;
  padding-top: 30px;
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 타임 스탬프 설정 */
.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  font-weight: 700;
}

/* 메시지 박스 설정 */
.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* 오는 메시지 박스 설정 */
.incoming-message {
  align-self: flex-start;
  animation: incomingAnim 0.5s ease-out forwards;
}

/* incoming, sent message에 애니메이션을 추가 */
@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* 보내는 메시지 박스 설정 */
.sent-message {
  align-self: flex-end;
  animation: sentAnim 0.5s ease-out forwards;
}

@keyframes sentAnim {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* 메시지 박스에서 컨텐트의 비중 */
.message .message__content {
  width: 100%;
}

/* 오는 메시지의 상대방 이미지 설정 */
.incoming-message img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  animation: spin 1s linear forwards;
}

/* 채팅방에서 상대방 이미지가 한바퀴 회전하는 잡(?)기술 */
@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

/* 컨텐트 안 bubble을 설정 */
.message .message__bubble {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 13px;
  color: white;
  font-weight: 500;
}

.incoming-message .message__author {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 13px;
}

.incoming-message .message__bubble {
  border-top-left-radius: 0px;
  background-image: linear-gradient(to right, #6190e8, #a7bfe8);
}

.sent-message .message__bubble {
  border-top-right-radius: 0px;
  background-image: linear-gradient(to left, #ffafbd, #ffc3a0);
}

.chats__chat {
  margin-bottom: 20px;
}
